package ${package}.service;

import ${package}.model.${model};
import com.yada.commons.base.BaseService;
import org.springframework.stereotype.Service;

/**
 * <p>
 * ${model} 服务接口类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public interface ${model}Service extends BaseService<${model},Long> {
	
}